.content {
    background-color: grey;
    padding: 40px;
    position: relative;
}

.content__circle {
    background-color: white;
    width: 100px;
    height: 100px;
    left: 30;
    border-radius: 50%;
    position: relative;
    animation-name: white-circle;
    animation-duration: 1.5s;
}

@keyframes white-circle {
    0% {
        left: 0;
    }

    100% {
        left: 500px;
    }

    0% {
        left: 0;
    }
}